<audio id="typing" src="resources/sounds/typing.wav" autoplay></audio>
<div class="typewriter">
  <p>public class DavidSudia extends SoftwareDeveloper {</p>
  <p class="property">private String email = <a href="mailto:dsudia@gmail.com">"dsudia@gmail.com"</a>;</p>
  <p class="property">private String location = "Denver, CO";</p>
  <p class="property">private String github = <a href="http://github.com/dsudia">"/dsudia"</a></p>
  <p class="property">private String linkedIn = <a href="http://linkedin.com/in/davidsudia">"/in/davidsudia"</a></p>
  <p class="property">private ArrayList&#60;String&#62; languages = {"Java", "JavaScript", "HTML5", "CSS3", "SQL", "MongoDB"}</p>
  <p class="method">public ArrayList&#60;Work&#62; getPortfolio () {</p>
  <p class="method-line">return <a ui-sref="/portfolio">this.portfolio;</a></p>
  <p class="method">}</p>
  <p class="method">public ArrayList&#60;Posts&#62; getBlog () {</p>
  <p class="method-line">return <a href="http://roomforimproving.com">this.blog;</a></p>
  <p class="method">}</p>
  <p>}<span>|</span></p>
</div>