html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #4f98ec;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #3b72b1; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

body {
  background-color: #1a1a1a; }

.typing {
  margin: 2rem 2rem; }
  .typing h1 {
    font-family: "Inconsolata"; }
    .typing h1 span {
      color: #ddd;
      animation: blink 1s infinite; }

.typewriter {
  width: 870px;
  height: 750px;
  background-color: #333;
  padding: 2rem;
  margin: 5rem auto; }
  .typewriter p {
    color: #ddd;
    font-family: "Inconsolata";
    font-size: 1rem;
    margin: 1rem 0 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    width: 50rem; }
    .typewriter p span {
      animation: blink 1s infinite; }
  .typewriter .landing:nth-child(1) {
    animation: type 2s steps(60, end); }
  .typewriter .landing:nth-child(2) {
    animation: type2 4s steps(60, end); }
  .typewriter .landing:nth-child(3) {
    animation: type3 6s steps(60, end); }
  .typewriter .landing:nth-child(4) {
    width: 2rem;
    animation: type4 6.5s steps(4, end); }
  .typewriter .property, .typewriter .method {
    margin: 1rem 0 0 2rem; }
  .typewriter .method-line {
    margin: 1rem 0 0 4rem; }

@keyframes type {
  from {
    width: 0; } }

@keyframes type2 {
  0% {
    width: 0; }
  40% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes type3 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes type4 {
  0% {
    width: 0; }
  52% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes blink {
  to {
    opacity: .0; } }

article.type-system-slab {
  font-family: "Roboto Slab", serif;
  text-align: left; }
  article.type-system-slab::after {
    clear: both;
    content: "";
    display: block; }
  article.type-system-slab h1, article.type-system-slab h2, article.type-system-slab h3, article.type-system-slab p {
    margin: 0; }
  article.type-system-slab hr {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1.5em 0; }
  article.type-system-slab p {
    color: #333;
    line-height: 1.5; }
  article.type-system-slab a {
    color: #1565c0;
    text-decoration: none; }
  article.type-system-slab .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 0.1em 0;
    text-align: left;
    text-transform: uppercase; }
  article.type-system-slab h1 {
    font-family: "Roboto Slab", serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 0.6em; }
    @media screen and (min-width: 600px) {
      article.type-system-slab h1 {
        font-size: 2.4em; } }
  article.type-system-slab h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.2em; }
    @media screen and (min-width: 600px) {
      article.type-system-slab h2 {
        font-size: 1.3em; } }
  article.type-system-slab code {
    background: #F7F7F7;
    border-radius: 4.5px;
    border: 1px solid #E0E0E0;
    font-size: 0.8em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap; }
  article.type-system-slab h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    text-transform: uppercase; }
  article.type-system-slab p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    margin-bottom: 0.5em; }
  article.type-system-slab p {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em; }
    article.type-system-slab p span {
      font-family: "Open Sans", sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase; }
  article.type-system-slab a.read-more {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    article.type-system-slab a.read-more span {
      font-size: 1.8em;
      position: absolute;
      right: -12px;
      top: -2px; }
  article.type-system-slab hr {
    width: 3em; }
  article.type-system-slab p.author {
    font-family: "Roboto Slab", serif; }

.logo {
  margin: .3rem -1rem 0 0;
  font-size: 2rem;
  color: #4f98ec; }

.grid-items {
  margin: 3rem 2rem; }
  .grid-items::after {
    clear: both;
    content: "";
    display: block; }
  .grid-items .grid-item {
    background: #3567a0;
    border-bottom: 9px solid #242424;
    border-left: 4.5px solid #242424;
    border-right: 4.5px solid #242424;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: 21em;
    outline: none;
    overflow: hidden;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%; }
    .grid-items .grid-item .small-text {
      font-size: .8rem; }
    @media screen and (min-width: 900px) {
      .grid-items .grid-item {
        width: 33.33333%; } }
    .grid-items .grid-item:nth-child(1) {
      background-color: #1644A1;
      box-shadow: inset 0 0 1px 2px #103174; }
      .grid-items .grid-item:nth-child(1):focus, .grid-items .grid-item:nth-child(1):hover {
        background-color: #103174;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(2) {
      background-color: #A1321D;
      box-shadow: inset 0 0 1px 2px #762515; }
      .grid-items .grid-item:nth-child(2):focus, .grid-items .grid-item:nth-child(2):hover {
        background-color: #762515;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(3) {
      background-color: #D95218;
      box-shadow: inset 0 0 1px 2px #ab4113; }
      .grid-items .grid-item:nth-child(3):focus, .grid-items .grid-item:nth-child(3):hover {
        background-color: #ab4113;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(4) {
      background-color: #30446E;
      box-shadow: inset 0 0 1px 2px #212e4a; }
      .grid-items .grid-item:nth-child(4):focus, .grid-items .grid-item:nth-child(4):hover {
        background-color: #212e4a;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(5) {
      background-color: #08B7D4;
      box-shadow: inset 0 0 1px 2px #068da3; }
      .grid-items .grid-item:nth-child(5):focus, .grid-items .grid-item:nth-child(5):hover {
        background-color: #068da3;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(6) {
      background-color: #1644A1;
      box-shadow: inset 0 0 1px 2px #103174; }
      .grid-items .grid-item:nth-child(6):focus, .grid-items .grid-item:nth-child(6):hover {
        background-color: #103174;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(7) {
      background-color: #A1321D;
      box-shadow: inset 0 0 1px 2px #762515; }
      .grid-items .grid-item:nth-child(7):focus, .grid-items .grid-item:nth-child(7):hover {
        background-color: #762515;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(8) {
      background-color: #30446E;
      box-shadow: inset 0 0 1px 2px #212e4a; }
      .grid-items .grid-item:nth-child(8):focus, .grid-items .grid-item:nth-child(8):hover {
        background-color: #212e4a;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(9) {
      background-color: #D95218;
      box-shadow: inset 0 0 1px 2px #ab4113; }
      .grid-items .grid-item:nth-child(9):focus, .grid-items .grid-item:nth-child(9):hover {
        background-color: #ab4113;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
    .grid-items .grid-item:nth-child(10) {
      background-color: #08B7D4;
      box-shadow: inset 0 0 1px 2px #068da3; }
      .grid-items .grid-item:nth-child(10):focus, .grid-items .grid-item:nth-child(10):hover {
        background-color: #068da3;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; }
  .grid-items .grid-item img {
    display: block;
    height: 7em;
    margin: 0 auto 1em; }
  .grid-items .grid-item h1 {
    color: white;
    font-size: 1.3em;
    margin-bottom: 0.4em; }
  .grid-items .grid-item p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5em;
    margin: auto; }
    @media screen and (min-width: 600px) {
      .grid-items .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 900px) {
    .grid-items .grid-item-big {
      width: 66.66667%; } }
  @media screen and (min-width: 600px) {
    .grid-items .grid-item-big p {
      max-width: 60%; } }
  .grid-items .grid-item-image {
    background: url("../../resources/imgs/fitter-portal-screen.png");
    background-color: #3567a0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
