<nav class="typing">
  <h1><a ui-sref="landing.full">Home</a><span>|</span></h1>
</nav>
<div class="grid-items">
  <a target="_blank" href="http://github.com/dsudia/slack-overflow" class="grid-item grid-item-image-1">
    <img src="resources/imgs/so-screen.png" alt="Slack Overflow Screenshot">
    <h1>Slack Overflow</h1>
    <p>A technical forum integrated directly with Slack. Deployed to over 1,000 users.</p>
    <p class="small-text">[JavaScript, Mocha/Chai, Slack integration/bot, SQL, Node/Express, jQuery, REST API]</p>
  </a>
  <a target="_blank" href="http://github.com/dsudia/fitter" class="grid-item grid-item-big grid-item-image">
    <img src="resources/imgs/fitter-screen-thumb.png" alt="Fitter Client Screenshot">
    <h1>Fitter</h1>
    <p>An API for filtering tweets.</p>
    <p class="small-text">[Java, Maven, Gradle, Spring, SparkJava, MongoDB, JUnit, Websockets, Twitter APIs]</p>
  </a>
  <a target="_blank" href="http://npmjs.com/package/generator-sudexpress" class="grid-item grid-item-big">
    <img src="resources/imgs/gen-screen.png" alt="Generator Sudexpress Screenshot">
    <h1>generator-sudexpress</h1>
    <p>Custom file structure generator for full-stack JavaScript projects. 3,000+ downloads in first month on npm.</p>
    <p class="small-text">[bluebird, knex, swig, bcrypt, passport, Browserify, Babel, Gulp, JSHint, Mocha/Chai]</p>
  </a>
  <a target="_blank" href="http://github.com/dsudia/G19-DavidSudia" class="grid-item grid-item">
    <img src="resources/imgs/hq-screen.png" alt="Welcome to HQ Screenshot">
    <h1>Welcome to HQ</h1>
    <p>A daily dashboard site with traffic, todos, calendar and weather.</p>
    <p class="small-text">[SASS, Masonry, animate.css, Google APIs]</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="resources/imgs/javaClass.png" alt="Java Class icon">
    <h1>Java Curriculum - JUnit</h1>
    <p>Test-Driven lesson on Java classes for Galvanize. Presented to 28 students. (private repository)</p>
    <p class="small-text">[Java, JUnit, IDEs]</p>
  </a>
  <a target="_blank" href="http://github.com/dsudia/java-data-structures" class="grid-item">
    <img src="resources/imgs/collections.png" alt="Java Data Structure Flowchart">
    <h1>Java Data Structures</h1>
    <p>Lesson on data structures for interviewing. Presented to 28 students.</p>
    <p class="small-text">[Java, IDE]</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="resources/imgs/port-screen.png" alt="Portfolio Site Screenshot">
    <h1>This Site</h1>
    <p>A portfolio site for a developer.</p>
    <p class="small-text">[Angular, Sass, Bourbon, CSS3, HTML5]</p>
  </a>
  <a target="_blank" href="http://github.com/dsudia/angular-testing-intro" class="grid-item grid-item-big">
    <img src="resources/imgs/protractor.png" alt="Protractor">
    <h1>Angular Testing Intro</h1>
    <p>A workshop on Angular unit/e2e testing. Presented to 11 students.</p>
    <p class="small-text">[karma, Mocha/Chai, Protractor, Selenium]</p>
  </a>
</div>
